* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}